<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Привет! Ты на главной странице</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
    <link rel="stylesheet" href="../../static/css/index.css" type="text/css">
</head>
<body>  
    <div class="container">
      <header class="header">
        <div class="in_header_user">
           <div class="in_header_logo">
              <img th:src="@{/img/logomini.png}" class="logo">
              <!-- <img src="../../static/img/logomini.png" class="logo"> -->
           </div>
           <div class="in_header_title">
              
           </div>
           <div class="in_header_user__btn"> 
                <button type="button" th:onclick="|window.location.href='/orders'|" class="btn_history">История</button>
                <button type="button" th:onclick="|window.location.href='/cart'|" class="btn_history">Корзина</button>
                <button type="button" th:onclick="|window.location.href='/authentication/logout'|" class="btn_history">Выйти</button>
           </div>            
        </div>
             
      </header>
      <div class="out_header">
          <img th:src="@{/img/photo.jpg}" class="logo_main">        
          <!-- <img src="../../static/img/photo.jpg" class="logo_main"> -->
      </div>   
      <div class="body">
        <div class="body_container_text">
          <span></span>
            <div class="body_text">
                <p class="body_text">Тут я напишу условия доставки, оплаты и прочее информационное послание
                </p>
               <!-- <p align="right">Петра Софт</p> -->
          <span></span>
        </div>
      </div>
      <div class="price_container">
        <span></span>
        <div class="price_in_container">
            <p th:text="'Итоговая цена: ' + ${price}"></p>
            <div class="btn_checkout">
               <a class="tag_a_checkout" th:href="@{/order/create}">CHECKOUT</a>    
            </div>
            <div class="btn_checkout">
                <a class="tag_a_checkout" th:href="@{/index}">Назад</a>
            </div>                       
        </div>
        <span></span>
      </div>
      <div class="body_user">        
        <span></span>
        <div class="product_section_cart">
            <div class="product_card">
                <div th:each="product : ${cart_product}" class="product">
                <p th:text="${product.getTitle()}"></p>    
                <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="240px">
                <br>
                <p th:text="'Цена: ' + ${product.getPrice()}"></p> 
                <div class="btn_delete">
                    <a class="tag_a_delete" th:href="@{/product/infouser/{id}(id=${product.getId()})}">О товаре</a>
                </div>
                <div class="btn_delete">
                <a class="tag_a_delete" th:href="@{/cart/delete/{id}(id=${product.getId()})}">Удалить</a>
                </div>  
            </div>
       
        </div>    
        </div>               
        <span></span>  
      </div>


      <footer class="footer">
        <div class="in_footer">
      
        </div>
      </footer>          
    </div>    

</body>
</html>


