<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Аутентификация</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
    <!-- <link rel="stylesheet" href="../../static/css/index.css" type="text/css">         -->
</head>
<body>

    <div class="container">
        <header class="header">
          <div class="in_header">
             <div class="in_header_logo">
                <img th:src="@{/img/logomini.png}" class="logo">
                <!-- <img src="../../static/img/logomini.png" class="logo"> -->
             </div>
             <div class="in_header_title">
                
             </div>
             <div class="in_header_btn">
               <button type="button" th:onclick="|window.location.href='/'|" class="btn_signin">Назад</button>
               <button type="button" th:onclick="|window.location.href='/authentication/registration'|" class="btn_signup">Регистрация</button>
             </div>            
          </div>
               
        </header> 
        <div class="registration">
          <div class="login_section">
          <h1>Авторизация</h1>
          <form method="post" action="/process_login">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <br/><br/><br/>
            <input type="text" placeholder="Введите логин" name="username" id="username">
            <br/><br/>         
            <input type="password" placeholder="Введите пароль" name="password" id="password">
            <br><br/><br/> 
            <input type="submit" value="Войти">
            <div th:if="${param.error}" style="color: red">
                Неправильный логин или пароль
            </div>
          </form>

          <a class="tag_a" href="/authentication/registration"><p>Нет учетной записи? Зарегистрируйтесь</p></a>
          </div>  
           
        </div>

        <footer class="footer">
          <div class="in_footer">
              
          </div>
        </footer>          
      </div>     
</body>
</html>


